Package: zorro.yopainstalld
Name: yopainstalld
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 6.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Zorro
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

